.container{
    display: flex;
    justify-content: center;
}

.tableTitle{
    text-align: center;
    margin-left: -7vw;
}

.usersTable{
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    cursor: default;
}

.usersTable th,td{
    padding: 1rem 2rem;
    border: 1px solid black;
    text-align: center;
}
.usersTable th{border: 2px solid black;}

.usersTable__user_active{font-weight: bolder;}

.usersTable__user:hover{
    cursor: pointer;
    background-color: rgb(201, 201, 201);
    color: white;
}

.btnBlock{
    width: 8vw;
    padding: 0.2rem 0.5rem;
}
.btnBlock__btn{
    background: none;
    border: 1px solid black;
    padding: 1vh 2vw;
    width: 8vw;
    height: 4vh;
    font-size: 1rem;
}
.btnBlock__btn:hover:not(:disabled){
    cursor: pointer;
    opacity: 0.6;
}
.btnBlock__deleteBtn{
    margin-bottom: 0.5rem;
}