*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

main{
    overflow-y: hidden;
    background: url(../img/1667885342_3-44.jpg);
    background-size: cover;
    min-height: 500px;
    flex: 0 0 auto;
}
a{text-decoration: none;}

/* шапка */
.header{
    position: relative;
    height: 8vh;
    width: 100%;

    overflow-y: hidden;
    background-color: #5b4536;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header__btn{
    position: absolute;
    top:0;
    right:0vw;
    width: 4vw;
    height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    border: none;

    color: white;
    background-color: blueviolet;
    font-size: 1.7vh;
    border-left: 1px solid white;
}
.header__btn:hover{
    cursor: pointer;
    background-color: white;
    color: blueviolet;
    border: 1px solid blueviolet;
}

.header__user{
    position: absolute;
    top:0;
    right:4vw;
    width: 20vw;
    height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    
}

.header__title{
    position: absolute;
    top:0;
    left: 35vw;
    width: 15vw;
    height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__menu{
    position: absolute;
    top:0;
    left: 0.1vw;
    height: 100%;
}
.header__menu ul{
    width: 100%;
    height: 100%;
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__menu li{
    padding: 10px;
    height: 97%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    border-right: 1px solid white;
}
.header__menu a{color: white;}


/* скидки */
.discount{
    position: absolute;
    top: 0vh;
    right: 0vw;
    width: 16.5vw;
    height: 15vh;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    padding: 1rem;
    background-color: blueviolet;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.discountBirthday{display: none;}
.discountUniq{
    left: 0vw;
    display: none;
}

.firstServiesContainer{
    padding: 1px 0px 32px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(34, 6, 61);
}


/* общий контейнер для контента */
.container{
    text-align: center;
    width: 60%;
    margin: auto;
}

.visit-card{
    height: 20vw;
    width: 99.5%;
    margin: auto;
    margin-bottom: 2vh;
    font-family:Arial, Helvetica, sans-serif;
    background: url(/img/salon.jpg) no-repeat;
    background-size: cover;
}
.visit-card__company-name{
    padding: 50px 0px 15px 0px;
    font-size: 3vw;
    text-shadow: 1px 1px white;
}
.visit-card__address, .visit-card__schedule{
    padding-bottom: 0.2vw;
    color: white;
    text-shadow: 1px 1px black;
}

.visit-card__btn{
    width: 8vw;
    margin-top: 1vh;

    background: none;
    border: none;
    background-color: #5b4536;
    color: white;

    font-size: 1rem;
}
.visit-card__btn:hover{
    background-color: white;
    color: blueviolet;
    border: 2px solid blueviolet;
    cursor: pointer;
}

.services-container{
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack:distribute;
        justify-content:space-around;
}
.services-container__title, .service__title{
    padding: 50px 0 32px;
    color: rgb(34, 6, 61);
    font-family: Arial, Helvetica, sans-serif;
}
/* контейнер услуги */
.service{
    position: relative;
    background: rgba(255, 255, 255, 0.596);
    width: 35%;
    border: 2.5px solid #5b4536;
    padding: 1.5rem;
    margin: 0.5rem;
}
.action-container{
    font-size: 3vh;
    font-weight: 600;
    color: rgb(1, 0, 2);
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.596);
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack:distribute;
        justify-content:space-around;
        
}

.service__info{
    color: rgb(48, 48, 48);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
}
.service__pricelist{
    list-style: none;
    margin-top: 0.5rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.service__pricelist li{margin-bottom: 1vh;}

/* показ скидки */
.service__price-discount::after{
    content: '-5%';
    background-color: rgb(175, 0, 0);
    color: white;
    padding: 0 0.1rem;
    margin-left: 0.2rem;
    font-size: 0.8rem;
}

/* футер  */
.footer{
    width: 100%;

    background-color: #5b4536;
    color: white;

    text-align:center;
    padding: 1vw 0vw;
    flex: 0 0 auto;
}
.footer p{
    margin-bottom: 0.5vw;
    font-family: Arial, Helvetica, sans-serif;
}

.adminPanelRef{
    display: none;
    position: absolute;
    top: 0;
    left: 2.5vw;
    width: 14vw;
    height: 8vh;

    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;

    border: 1px solid black;
    color: black;
}
.adminPanelRef:hover{
    opacity: 0.75;
}

/* анимация полос */
.stripes{
    height: 400vh;
    width: 60.5vw;
    left: 19vw;
    border-left: 3px dotted blueviolet;
    border-right: 3px dotted blueviolet;
    position: absolute;
    top: -90rem;
    z-index: -1000;

    animation-duration: 3s;
    animation-name: stripe-moving;
    animation-iteration-count: infinite;
    animation-delay: 0;
}

@keyframes stripe-moving {
    0% {
        top: -89rem;
    }
    12%{
        top: -88.5rem;
    }
    
    25%{
        top: -88rem;
    }

    32%{
        top: -87.5rem;
    }
  
    50%{
        top: -87rem;
    }
    62%{
        top: -86.5rem;
    }
    75%{
        top: -86rem;
    }
    87%{
        top:  -85.5rem;
    }

    100% {
        top: -85rem;
    }
  }