.modal {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
  
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
    background: rgba(0, 0, 0, 0.9);
    overflow-y: scroll;
    padding: 60px 15px;
  }
  
  .modal_active {
    position: fixed;
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: .3s;
  }
  
  .modal__closeBtn{
    position: absolute;
    right: 0;
    top: 0;
  
    border: none;
    background: none;
    cursor: pointer;
  
    height: 2rem;
    width: 2rem;
  }
  .modal__closeBtn:hover{opacity: 0.5;}